header {
    position: relative;
}

@media screen and (min-width: 480px){
    .header-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header {
        border-bottom: 1px solid #ECECEC;
        
    }
    .logo {
        font-family: $secondary-font;
        color: $primary-title-color;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        
    
        &-accent {
            color: $accent-color;
        }
    }
    .menu-button {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        & .icon-cross {
            display: none;
        }
        &.is-open .icon-cross {
            display: block;
        }
        &.is-open .icon-menu {
            display: none;
        }
        & svg:focus,
        & svg:hover {
            fill: $accent-color;
        }
    }
    .menu-container {
         width: 100%; 
    
     }
     .nav-link {
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $primary-title-color;
    
        &:hover,
        &:focus {
            color: $accent-color;
        }
     }
     .nav-list .link.active {
        color: $accent-color;
      }
      .active {
        position: relative;
  
        &::after {
          content: "";
          display: block;
          height: 4px;
          width: 100%;
          background: $accent-color;
          border-radius: 2px;
          position: absolute;
        }
    }
    .icon-envelope {
        width: 16px;
        height: 12px;
        margin-right: 10px;
        fill: $primary-text-color;
    }
    .icon-smartphone {
        width: 10px;
        height: 16px;
        margin-right: 10px;
        fill: $primary-text-color;
    }
    .address-link-header {
        display: flex;
        font-style: normal;
        align-items: center;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $primary-text-color;
        vertical-align: middle;
        &:hover,
        &:focus {
            color: $accent-color;
        }
    
        &:hover svg,
        &:focus svg {
            fill: $accent-color;
        }
    }


}
@media screen and (min-width: 480px) and (max-width: 767px){
    .header-box {
        height: 60px;   
    }
    .menu-container {
        padding: 60px 0px;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;


        background: $secondary-title-color;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

        &.is-open {
            display: block;
        }
    }

    .navigation {
        margin-bottom: 60px;
    }

    .nav-list {

        &-title {
            text-align: center;
        }
        &-title:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    .nav-link {
        font-size: 18px;
        &.active {
            padding-bottom: 8px;
        }
    }
    .active {
        position: relative;
  
        &::after {
          bottom: 0px;
        }
    }
    .address-link-header {
        justify-content: center;
    }
    .address-list-header>li:not(:last-child) {
        margin-bottom: 16px;
    }

    

}

@media screen and (min-width: 768px){
    .header-box {
        height: 80px;  
    }
    .menu-button{
        display: none;
    }
    .menu-container {
        display: flex;
        justify-content: space-between;
    }
    .nav-list {
        display: flex;
        justify-content: end;
    
        &-title:not(:last-child) {
            margin-right: 50px;
        }
    }
    .nav-link {
        font-size: 14px;
        line-height: 1.17;
        padding-top: 32px;
        padding-bottom: 32px;
    
    }
    .active::after {
          bottom: -1px;
        }

    .logo {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;

    }
    
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .logo {
        margin-right: 88px;
    }
     .address-link-header {
        font-size: 12px;
        line-height: 1.17;
    }
    .address-list-header {
        margin: 21px 0px;
        & li:not(:last-child){
            margin-bottom: 10px;
        }
    }
    
}


@media screen and (min-width: 1200px) {
    .logo {
        margin-right: 93px;
    }

    .address-list-header {
        display: flex;
        justify-content: end;
        align-items: center;

        & li:not(:first-child) {
            margin-left: 50px;
        }
    }
  
    .address-link-header {
        font-size: 14px;
        line-height: 1.14;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}