
    $accent-color: #2196F3;
    $primary-title-color: #212121;
    $primary-text-color: #757575;
    $secondary-title-color: #FFFFFF;
    $secondary-text-color: rgba(255, 255, 255, 0.6);
    $main-font: Roboto, sans-serif;
    $secondary-font: Raleway, sans-serif;
    $background-color: #F5F4FA;
    $color-icon: #AFB1B8;
